<div class="form-group">
  <div class="form-group">
    <h3>Map Type</h3>
    <select ng-model="vis.params.mapType" class="form-control">
      <option value="sierra_leone_1_mill">Sierra Leone Regions</option>
      <option value="sierra_leone_2_mill">Sierra Leone Districts</option>
      <option value="sierra_leone_3_mill">Sierra Leone Sections</option>
    </select>
  </div>

  <!-- Color Scale -->
  <div class="form-group">
    <h3>Map Color Scale</h3>

    <div ng-repeat="color in vis.params.colors" class="ng-scope">
      <div class="vis-editor-agg-header">
        <i class="fa fa-circle" ng-style="{color: color.input}"> </i>
        <label>
          {{ ($index) * (vis.params.max - vis.params.min) / (vis.params.colors.length - 1)  | number:0 }} %
        </label>

        <div class="btn-group">
          <button type="button" ng-click="vis.params.colors.splice($index, 1)" class="btn btn-danger btn-xs">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>

      <div class="form-group">
        <input ng-model="color.input" type="text" class="form-control ng-pristine ng-valid ng-isolate-scope ng-touched" name="color {{ $index }}">
      </div>
    </div>

    <div ng-click="vis.params.colors.push({})" class="sidebar-item-button primary ng-isolate-scope">
        Add Color
    </div>
  </div>

  <!-- Tooltip Number Format Type -->
  <div class="form-group">
    <h3>Tooltip Number Format</h3>
    <select ng-model="vis.params.tipNumberFormat" class="form-control">
      <option value="number" selected="selected">number</option>
      <option value="percentage">percentage</option>
    </select>
  </div>
</div>
